<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width" />
        <style>
            body {
                background-color: #fff;
                margin: 0;
                min-width: 100%;
                padding: 0;
                text-align: center;
                width: 100% !important;
            }
            img {
                display: inline-block;
            }
            p {
                margin-bottom: 14px;
                text-align: left;
            }
            .content {
                background-color: #e0e0e0;
                margin: auto;
                padding: 40px;
                width: 28%;
            }
            .below60 {
                margin-bottom: 60px;
            }
            .button {
                background-color: #ffffff;
                border: 2px solid #2196E9;
                border-radius: 6px;
                color: #2196E9;
                cursor: pointer;
                display: inline-block;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: 0.02em;
                margin-top: 8px;
                padding: 14px 26px;
                text-decoration: none;
                text-transform: none;
                vertical-align: middle;
                -ms-touch-action: manipulation;
                touch-action: manipulation;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .button:hover {
                border: 2px solid #505050;
                color: #505050;
            }
            .address {
                font-size: 0.8rem;
                font-weight: 100;
            }
        </style>
    </head>

    <body>
        <div class="content">
            <div class="below60">
                <img src="data:image/png;base64,
                  iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABGdBTUEAALGPC/xhBQAAAAlwSFlz
                  AAALEwAACxMBAJqcGAAAD0NJREFUeNrVm3l0nNV5xn/v/b5ZNJJGsoQsL0K2zGKIwQvFQNnCwUDN
                  IQHC0jYNPWk4lNUliQOU0KS0gUNOoGkgoTY+HAIU3LA4QEjD0nCM2WzC6sQm2I4lWTJg2cjSSLPP
                  fN99+8fMyLItyZIs2c53pDOyNHPvfZ/7vM+73GthHJ+mJQlBxIAaEbEt15b7w/ncjGUZR61vULVY
                  z7YuqtbxWqM7LoYvTQhipPXaiAX84jeND6pxbLYaodwoEbU2CCDG5KxICqtJP+7FWq4J930GoOmB
                  jMHPausNVWMOhIwrA+5PhHDkeNCZwBEo04B6hBpBqlU1DCAiGUVjKF2g20HaEJqBjSRi61pvbsiO
                  1xplfBiQOhHsQuA0lGNBpyECqiNYlgK0IWwAeRNrX2q9IfreIQtAxcsqdc2pSxG9ApiP6pQ93uL3
                  m2+webXfq7PH37YB76C6vLuzZUXs9rl60ABoWpKU1uvLddeOJy8G/TbKaaClhZf83xS/RzqXFsew
                  RTBMH5DKalXv3i2LJjxTevPM51U2Xig67gA0LU05rddF/OLPs0C/j9q/GWDxY+1ee42pap/WbOaO
                  tsX16wCOXK7O5q+JP24AND2QktZrI1rc9atR/QFo/Tgbvi8gPlcve/uWGw9bCvCXqrJGhs+EkTNg
                  WbYC6/0Y9Orhi9r4P+rnH05vfPWm7fdf2jVuDJi+LDVRrH0M1fMO4I4PkxGC2tzKbPvar2+7++xP
                  xhyApiXpBvB/AXr6IWT87iCIoH7+7ezW31+x7UdnNQ/ng2ZfPl/a+UPY+F2JgyriBE4JNcxZXn/N
                  E9P3C4CmpSmn9dqINi3LVoi1jx3Cxu8Nghs4uewLCx6tvuC2yQBzN6kZEQBNS5JSCnVY78eHmM8P
                  D4Rg5Myqs2+4Byhbe7TYUWlA09Lk1aDLimp/wIxXQNVg95jOoIjY4SyiTxO8nW03b/3erP8Y7I3O
                  EC4wC9VHQCsOpPFZGyDjB8mrQ15dcuqQVwdfHTx1yFsXRXCGBqLABBGRUMWJ4RknrU6882T7CMth
                  /X6/JEfGl7eKpw4pP4QjlhkVHZxRu57Z0TZqQ70YlM5clHXxRt74/Dhak5NJeGVEnCyu+OjAy5Oi
                  KNaEmk66FbgMyAzLBZqWJi9G7bMHymktQjxfxjHRdq5tepEvTXqX6mAvODkwXoGA1gU/RG++gt90
                  zGdJ6wV83NtIpZtGGCIhEwFryX7y+6s+++EZD+3TBSpeVinvzi0Dpo2poQJGCq/SD3ZfDbF8OedN
                  +oAH5/2M0yf/jnAgWSynAmCDYEOgBoxPKNjL8TUbWXjYejYnJ/NxvJGgeLuNubfUO5hQ+dTeVQ/8
                  Cj+fHBKAqafechmwuBghxsT3PQsZT0l5kPEg51PUKCFng1w8dQ0/m/MAddGt4EXAD4O6/YpIKfys
                  TgEQdaiMbOe82o/5ONHAR73TKHPyQ6Ivxp1cduw5W+JvPfzu0BogegXaV9KO2nirBUNTnjIhLJxQ
                  51AXEVwj9GSVP3VbWmPgGJ8Fh31IVcUn4EVQGxia0lBwh2wV0cgO7jz2v2lP1rEx0Uh1IIE/UMhX
                  C44rgbrplwHLgZ7dGNC0NCGx39xV7OTod4DK0e6+UDA8nlMaoobrTgjy7flBvvqFABcdHeD8GS4L
                  prucO91hXr1DV0Z5fut0Utkop9VuQpxsgfrDmMl6IWoqOvAzwqodxxFwZeiViYkGp85em/zgmU27
                  M0BMsQdlFxY7OXZfafJgxmd8SOWVLx/lctupIY6p2XuYaAimVDjMq4cvH+Vy3wdTuPuDv6MjXcl/
                  znsM3Azqle2bCQA2yPlTPuSplvl8mJpNVbmPWjsQC6wEQrXBhlnnAr/uY0DTkoS0XleuTfcnQhhu
                  AY4EvKFyhEEDp0LWV/5hTpCfnBNmUrkMmj6WfhcJwNmNUFduuOcPM8n7ljPrPkLUQZEhKSgCWIdo
                  dCfrtzey5tPDKQuBOG6/7lrf4nyMa1BrMxtefdXv3d5dSK5EClvkyPGFBua+i6QBhVYKtF84I8Ad
                  Z4QIO0Pnznv+7hvHwU0nCUtbzueVbX8BoZ6ilpjB4nw/44Sjqj4nanrJ9KTQfA7E7ImWQS0mGJkR
                  PefGuQAPqRYOLYqjzASdNhoAjEA6Dw1Rw6ITA5S5BREcroqW9uo7J/ocXVfN/ZvPZUfv4YjJYoI9
                  iMntYwDDhHCSSNDDy/v4ifhAIAhqkUC43p0wdSbACyBGTF+hcEQxmPojET+rBerH88qC6S7zJzm7
                  6DnCpkTQcbhhruWV7cfylbe+xdXvXs+Dmy4klo1CMA5DtPv6WCIG9byBQBBQK46LqahtBMKdgGm5
                  ptyv+lHaoDqtWPQMa+klpU/llVhWqQwKJ09x+rRgtPFzwTThgYWVLJx1HB3uedyx6SouWbOYF9pP
                  BzcDxtvbJcSnK1NOygvhGAsig4GAqmKC5Q0mHK1/TcS6ABOqpAor9exDdaW444m8YowwpdJwTI2h
                  IihEgzBnohnx7u8pohPCwhWzHMBireUPnS53rpnDle9N49/TNVxz9AuIClZdDLv8rLm3jp5cGROC
                  qT6FLIHgVFRigkHUWgEQN3RYZPb5tYl3nmxzi1GwAqWmOJ4MnrND1oemasOVs4NcOtOltmyXUst+
                  5oy7f95gjGHuRFhxEdz2RjXfW/sN6sNJLj78dcgHCrE6kOWTrgY+6JyGa3x2awiLYPN5iPdCZRQJ
                  FPILcdxqp2pSVV8eYFQjilTrEAwo7fzxEx1+siDEnInO8Jr3Y9T/vusM+DQe5vaPLmH+hFamlm/F
                  emXg5HmhfTZrOxuJBjJ7g2oM1vOgxIRQCNxQuYnURPrUXq0Nlg4qB3tSnjIxItx91uDGj3XdLH0F
                  U+F18TyfhDeN5z6dC+Jgynpp7pzOw5tOw1ODM0jjR0x/YcxjHDdgAqHgsMOdZwv+efmxAU6c7HCg
                  H6eIxJzJDmdMzPBc85HgGDRdyb+8+xXWd00lGsgMXAf0cwf1PLx4HJvPCaIGkKIGmBxWMzrIQUfe
                  KpGgcMnRAQ7Wo1rQiOMmGta1VfP+ZzN4cMMZvNB+PNFAGh2myKjn4WfSnp/o9fs0wIqkQGOD+aFV
                  mFQh1FccvH5oSSAbqiwpv4orV/09HekJRAMZZCRnosZgc+mUF+vIUAqQam2icDlht8Rs90ZJUDAH
                  sR9cWpTn+yRyDi29E3FEMYM3fAcfy8/1ej3bEpTS4Fisu6dwM2NwIepKKb7loCPQ2uXTk/GpLcvi
                  iN13nbDXKILmM125tvdigJgZy9JO7NYpFqStaK7unesLn6eU5u6Dg4At+n86r3z4aRZfR1GtlRJm
                  EWwm3mGTnZ21f/tTY9T6xfSN5qLtzp4gBJ1CS+vxj/IHZeNLrrdiXYLVbWkmhA2e1VEMJUZ9Dxvf
                  8QmQqPv6P6lBKW3rRqCtBPqeYcg1wgvNHk9tOLAglAi+9rMc977RQ9ZTHAMjP5hXRQyaT+3Mdza3
                  AP4XF2IN1isYm4itK1xI2hsAgDIXsh784M0sT/4xx2iWMNpn5eY01/xyBy07c1SGDFZHRSUrxsFm
                  4u3J9574GLDLRNRtXVStTQ9kTOu14WzT0sSboH81UDeo1L3pTMNNK7P8dnOGrx7rMr0mQMgd2/Cg
                  Cp5VtsY8nl2f5Im1CRJZS1XYjP5OhohRa/F7PlvndbZsrjxrkR9fdX+xJ+hnC8Na+xIi1wOT90zr
                  S/NGXMj6wnPNyq/Wx6gP5qmrcDEi+8+Joth5VtmZ8uno9clbJWCEqrDZv2LLOEZzqVi2dc1qIB1f
                  db83YOretCT+HHDRPpUZwfMsuXgcP53edeKhY+P4ppCz4BjpS4X3a0gngNfd/s62e069BthQOiZz
                  B+DfckS+1C8aDDi9QQkGDMHqSnxX8DPpwg7JIXh6bhzUy5Fte/8VCvcNswzW++vubFmBsnpYxZ0q
                  GINTUYETLiv8+xC6ONW/H2pTXRu6n73pJSDRX8H3AiB2+1xV9e4dkWIVQTCHIgjGQf08mc2vr9B8
                  tgVI7c7kAZ4tiyY8o2qfHhUIZWWH2O4LXnf7mq4Vi58DOveM34NmlJrN3AF8PlSBNCAI5RWYcPjQ
                  YIJxsZlEIvn2o48CLf19f58AtC2uX6de9vZ+WvDnBIIiBtSSaX7rsfjqn79e9H2GBcDM51UAttx4
                  2FL18w8XtXAUIBwUTVAQEeOQ37Fx5c7lV/0P0AHkhw3AxgtFj1xeOCJPb3z1JrW5lcXwNjIQDrww
                  KiDiuHjdW9d3PfXN+4DNNZfflxhVD7N08XjyLSsbQo3znhYncMqIbowVr6f4yQQ2kxnvHKFofAC/
                  d/vGrl8u/tfMn157LTT95K7slt/l97uJO/mfVx0RapizXNzAyYcgCAXaOwH8eMeG2K9v/0Fq/f++
                  CuwcjPp9le5wZ0i89Uh3qHHeK27N4SeIG5wGKsMGwRhMIABqUc/bvck3JrHOFGnfvr7rmZv/LbPh
                  t68VQ563z47zSOZJvr8ihhN4OdQwe5IEw7OREVjRH4R8fuxAMIW7APntH6/c+Yvr7sq1v78a6BqO
                  8SNygT3bA4ff+dENTvXU74oTqIFhilzJHRIJbCa995WxEWZ4hfZWMpFpfuPxncv/cTmwOTT9lJ3Z
                  LW8Pu2sz4tnnblJTuns7adEzp4eaTrrVhKMXYEo3Iuz4gmCcwl0HP4/X3b4m+fajj8RX//wNoKPm
                  8vsSXU9/c0Qtq7FwxPCU777xtcDEI68zwfITcFwphD1rUbXFGyiy21zDE8YCrZTCGMYxIgb1cuqn
                  ujZmNr++oruQ3rYA8eFSfjwAKAwUKq+f/K0XLw3UTb9MguWzJRCqRZwCI9QWqSG75twLhL4/aVFb
                  TeHLQdWiuVTMpro2Zdvef6X7mZtfUi/TUhS6/fpPleMRk6omXvX4mcGGWeea8pr5JhhpkkC4XhyX
                  3Y7etNCiVmvxk0lsNlNS9MLvfQ/Np3baTLzd7/lsXbZ1zZqe/7v77WI9nyhWdfudXY1rZhJqnDcj
                  umDRXHfC1JmmorbRBMsbxA0dJo5bjRsqF+MEEBHN53JerDNt08m4+tkum4l32PiOT/KdLa3J9574
                  o9fZvBlIA7nijo9ZWnkg2zdhE47WR2afX+tUTaoykZqICYSCqG9sPuP53R2Z/M72ZLbt3ZhNdnUW
                  d9kHbOVZN/rxVT/1+HN8HlKVS1XNF3XQs+viReC+i8Gm9q//yz3mRXWuVh33Dfp/q/AyADdRE7wA
                  AAAASUVORK5CYII=" alt="Contact us &middot; Weather4s logo">
                <img src="data:image/png;base64,
                  iVBORw0KGgoAAAANSUhEUgAAAMgAAAAwCAYAAABUmTXqAAAABGdBTUEAALGPC/xhBQAAAAlwSFlz
                  AAALEwAACxMBAJqcGAAADvpJREFUeNrtXHtwVNd5/33n7koC9EJI4mEJ3RXmYQkQOPH40SmGuDDU
                  nTbjxriT2m7t0KYNb4SpacYz3djp1HZsgRG7cR0nsTuuJwNO23Gd1tCah9OmsRNsJMBmMEgrJPMS
                  ktCunmjv+frHrrT3tasFSViY85vRjHT3nnvP+c73/J1vBSgoKCgoKCgoKCgoKCgoKCgoKCgoKCgo
                  KCgoKCgoKCgoKCgoKCiMFAQAvmD4MEC3mz+QRrevaf20ULKB5cHw/RJ4jUBFlg+YDSb865QjJ795
                  +JWvRpON1wORnxDhcctFw1jVuD7/rZtF+Hqwcx1B1FouSrm8cV3ef980MgiE3yei3x1SH+Bk6OKL
                  8+D383iYn4jpNNU5PqDMylQDJdN3HcYBAEQagR7sWDRnRUrLJFQ4Lw7UKZ9186C8tvMrZuMAAGK5
                  Y7wYBwB44l6/DkTWQEBUAeAXrqNW7RYEXhwPQO4GBNwB4D+Sfc6MCtsruxsPHTh9o262LxA+AqIq
                  06UPGtfk3KXMIIWT1WiLRQUY7T09va+PpznGIgjJOpdAUJFsUNnS++aAaKIpLIaZ8aHVE6Aqqed4
                  qb2UCDlWi8FR7HlIKrW5OTDrxfYSAKusKsAvX9g6rWfcGYjRH3EYCINTpFieRdZChn/NMJ60Wdii
                  ZKMNoVW6hBSVXt1M0SPLu4FAnsT280C0fyAw3uYpAKClurSDwS22GHIb/H5yH2RXfv6UrwycsCm8
                  Xv7s6VzX8YJc6g9lIDcL5j53IhuEv7Tp0M9aqqectRXw7/mCER78KalpzvpCDCRedNRZowKyfYUb
                  S5OMW2S1BT52ZnPReQBtpghCnF3gmmYxyBFBSBrKQGLsB3/Zl9g/acZqAPkWnTC4xqEToMXjo0iP
                  TbEOoD+wFtpaJYAzTm9vqy/YqI//Ug/QsqHLQlQB+KVzuI3BYmbBbUdTznTVblF67+/N87JWJYkK
                  CZzL4AECdZGgEEvjWOO6yWfSXXhJTXMWZUwqF6zNJEIOEecwixwCZ8eeizYJebywvuG3qejq0Qf3
                  W/70+6msYFMVCbEQxNOJKAppnOi71Lv/nH9Gb1qPHGXZJa0tnz2dyzkFSwBRxsAU0dP7w4at01od
                  BA/RBtuaDzRtyD9ivjJz+wUfCJOvehKrdgt9yfL5IDEXoBkEnsgEjYh6wdwjJfcKoEuSbCGKNobW
                  Fl9Iz0CI6+yslBCoAPCfFrZmx4VigKaZFid7eweODdURlDAQwL0OYUIFWSNKw6kNsyNu9878h6Z8
                  kTP5SQisJlARY3CWNDRbBgDhgR4I1xPLHY2XdrzmRhXqtZe/DiE2ALiVgFKQlUeL/ZV4roCGtqo5
                  F/XA5RdCrUdq4F9qDBEVgbZ5gjI+TSHbO33BCDsDhLGsaW3+waQBBNQVSy8uTgVnbSLCn4No+pBr
                  ia81szi7Va/tWB1aP/nfkz1rVGVnP7MxndfoOzuWQBNPStByIvIOzrSXpKOm8C1d8QAI5Vb/amy3
                  36d5M68uevgPanrR4r8FaCMRFVrikGmDhZbYW8ALXzDcCynXNq7L/2nqFMtwnkEwO2sF9mYttqVL
                  pwaZByltdYQLk1X+UnspAbnp1B9lgbZ5Wm7BxyRom+uZi4N5o4UQ2k/0ouo9X/n2bz0uxU8+EX2N
                  iGbajSPFM4uJtOd9Rbfvuh7xIwqjVQ+EnwFlNZGgbQnjcKQfRRDaW2U7Ly+6LrJzSZPLas/reiC8
                  jzyeQ0Ti/kHjiBte17knZrQ5x2nV1r9xMtT20jsue+W7GrnphbfvIBLPWI0jrR2eAEZk2Bok9P7+
                  z8DcY/OolcPVH2b2iQn2OmY+/Ac1i4f0uNDHLgxWSU1zFpH3LRD0q1UyIvpG28Jbqx2LldHPrllz
                  if5aD1yuGtvsitnrydhPRE8RKDONdWaQEE9cD9m5WOhfkDbpKBEtT7KWkEOJd7bdSYR7rL7R/WCQ
                  JSjdOU9/4ewUInzn2sVuNA+fYu15SPKy8HGKHfANWvdtLp7LzmDVD/6WIVuPR2nqwJAnIcoqLVw4
                  txn4xDS+0qUwdRiIJzPvTxz3MjoArmXJ/yuJW0mCiaiYBH0NhK0AicRGiw0AnreM7+44xjmF25jR
                  qTE6WciIBHWBZR+k6BOSDdJEhhTyFiLtOwCttG6meACIOQGjH2HK5J+b1rUMhALTXNsZfMCROkRl
                  ayrtJGCOSf6nwLwb4PfB0Q6CZzmE+L5liKB7rovsnFOdb7PtKwQ6zOAjBLQCOAVn3rTFNqdRORjM
                  yJx0B4g066P5LTb4x0LgEkt5RYCTnrFpaD+ZRpEOgFEHShgIAbmzXmwvOb2loCVpBJGJQ8ZTG2Zf
                  0YPhEwAWDL2AtEUwGYi9/oi9tq/OxUM9aveuBsv7zqzL/9hlHft8gc4JMBd/RLeU1Z7Xzf1kDdtm
                  hQE8l4bMD5fUNO/zZOZ1ElFGgnRIrCtOST44lFsHI78GcKdp/p+F1uQ+eI2BpJ5Z/l3ToX1v2w5P
                  P/QFwn8KSqS+DEy5HrJLMs8BAn7BzG965MV3k9WRAKDvuFxGwB/blPgfR+NgUICzHT63v/dvzmye
                  2jiKLJZ7oW5kaZUAWgBguv/sBACzrTdQvSNdIlpgcnFVAN5MvIIqza9gRqdjI/x+AugO265/kGSD
                  B3HS6eW8xQBC1yKYlurSPj0QaQYwy+QwJmOsIeV3Q4f2Ppeiq6AJJhaQAO2Lkh1DrgilIBysbp42
                  AgkvHz8YHJW6ztDk55pNDMKTuRDA6BoISVkHIWw2QxUA9gJAZmHmAnMoY0ZnaFN+k42iqgPhEdOF
                  Rbai7DZKkqINeePY+YutkMeJZIsorb00nSG+aY9MgqnHjSRgr7YFTMsB6OaWmeE9eyKajJl9wDiQ
                  suWGcCXV+LGUnVMgsi9d+ldCrLYNdhwMXrMShzuOy5ziiLl9iTTxL3owfICY95M0Dma1nfvNJ/7K
                  gREZCEc76yljioOSTQjak7T+SBaF2MRkzXqxvUQS8hxpnYMGpskuFdpjvmDksavIU/pkW9hSlM8M
                  tt8t4X2XgNz0S8AbC2MluxF5+Jyibwm70cpE/TZSNGybFdYDnS8A4nuW6gy4D0T3sSbQUzyzyxcM
                  /w9LeUAwvdfQtv2jdLqGLQYS2qR3+gKRkJX9MFO9tgLdRblFT+8RnjTJXMxNnbm9ddqZzUXnjQzN
                  UX/ApVFSQGazLWRetaIAb4T8er+ZJ9fY+wYIufgSY0xkN+I54euObde07Xow/GdgcJJIOcd+yZuZ
                  96YeCMtY8OJXm9bnvTuku63bn9GLNksisQ3AJOfjkA3QShLaSgagF1e3ILj5le6LLTWt/sru9GqQ
                  GOqBhIGYv7fhYLBclLth67RWXyB8zszfi4yMKgDniVxaTAznd1HY0K7AM4INZvwKA+0W+rOscOEd
                  9gOqOD5gtvehDRn3Sjdhj+sIMgayGwW4xWsfgXxXFcmJHhi6XeODttqLQ/B/v6SmOeDJzPkGIFYC
                  uDfZuQiBSgB6Orto5sNZtZeWNa8vPJeegcSK7D8yXckvqWmb0RKuPceEBdb+faM+iTjqAEy3MV97
                  HQwWs9HX3n3MmSYMhAn2YwA+y4z/S7EDAwCfZ8gDoYP/9Y49jydoZU5PyX8fWpP7VFLmJRA5RZQo
                  0m+MFGv0ZTfyScnXQdq912P9LdWlHQBeBfAq/H7y5W+cz15tGQFLAVrqaF8hzNVExgsAHk7PQEjW
                  2YkRzavNLZ+8diID2eZVD7WYODWvDoSVJsuvim/EbNudn7n1E3W3XWjJLi6VZm4ejNbQ2mujTeMe
                  w+v0tvK9L1uKNRayGyka1+X/1BfsnArQeoBmjCC6dYL4JCROSmEcHnaA38+N8B8FcBTATqzaLcqW
                  rlgiIAJmqhygP8Sq3cLNMTgMhKIDdey1GggJzGLyTrbaQKLFxMnE8BFh4XJj5wdM0G0R1bXFpNVf
                  2Z0dCJ+AhSCgqtJd7RXN6wo+uTYLYWmP9CSSs1J6becKEKaOIFfJ+CKUcUxkNxpGsibvWQDPpnu/
                  viv8BAn6gflatP/ytJbq0r5rnsSeh2TTHhzUg507CfSyqYzIKbn77ryWPehwqZ9sNURH4DQDXTbt
                  msHCfjKb/PsbbETtLSfl8B/UwJiR9jMYb9uvacLzs/La9vnDe46DWoX/uNdWeLa55COPYtVuYfI4
                  VF7bfo8eDP+cNLGXLBFzWIOwR8K5pbWXpn8hadYoy+7LBN0fyoxT/FamLaz1pZdi+f1MgS3HQLjL
                  5GofdRxIuVG8cZxpP3rSV3x7L0AT4iY6US9a/La5mS3uwZN/ByQqX+YMsdnck0SgBax5j/oCkQYQ
                  nwKjm0FegLMAmkDEBQAVg7mgh+VfAfjR4Ngr3PWbTOQY5nMcEvSwb9nv38NLI8cJnM2ESgYVkalG
                  srcwJGd+qCGW5w65pYmayPzUFwx/wPFmOAK/17g274djrgWjLLsbAb5g+BUwZoPQx6ABYo4yIOMO
                  WoAwgYEpYJrn/Lo3f57sqwOeJC6oDkR3mSLArc48SiZXbv9SgwPh40T4akJfxP322/qjyf+LSWhT
                  fpNvV2c1BAVcCopygMpBifZtC1lCBIAsNOHZdbe0+wLhHwP4toNNIfgsbdExIRxhYAcBr6VXh8o9
                  pIlvWUkX5AG0ghK95YUAxtxARlt2NwQ5AbqX4tQwxddBblSaO2v2RrLnCncmhD8abkLaFf54GF7v
                  o9RpAF/8fMOUz1MXd3lBgB+JNdpdZclBwkHv9bV2bQJ4X2pBc5Ql79KiF5aIaHR/uu9rWp/3Lli+
                  npphQsX1K4xHV3Y3gIVcWzrLvLenp+fpqzIQGb68m5l/CdcOSO4F8LytgdHFoxoBJO+FuQzG1vSK
                  u9x/7muN3MLMjwHyn5j5GDNfYuYrYDbA3MPMFwE+AuZ/g5RPkTHwO41rch63P+ucf0Zv48WalQA/
                  EjeUNgZHmfkCMz6E5O+R7K8Irctdf2rD7EjDxoJmZz2WYq6t2x8HG6uZ8StmRBgcBaMDjBDA+8D4
                  kb39f2wL49GT3biG309gfpqZA8x4J9bsyWcY3AqgG2AZ22dEwAiB+RBDbpdsLGtcm7tyvP0nFQUF
                  BQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFhfGL/wcuM89823s8CgAAAABJRU5ErkJggg==" alt="Contact us &middot; Weather4s logo">
            </div>
            <p>Dear ==firstName==,</p>
            <p>We are really glad to get to know you!!</p>
            <p>Please, confirm your email address clicking the confirmation button.</p>
            <a href="==token-email-url==" target="_blank" class="button below60">Confirm now</a>
            <div class="address">
              <div>Weather4s</div>
              <div><a href="https://github.com/sherpair/weather4s" target="_blank">https://github.com/sherpair/weather4s</a></div>
              <div><a href="https://gitter.im/sherpair/weather4s" target="_blank">https://gitter.im/sherpair/weather4s</a></div>
            </div>
        </div>
    </body>
</html>
